body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.resim {
    border-radius: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.container-fluid {
    padding: 0 20px;
}

.map-container {
    height: 500px; /* Haritanın yüksekliği */
    width: 100%; /* Tam genişlik */
    border-radius: 15px; /* Köşe yuvarlatmaları */
    overflow: hidden; /* Köşe yuvarlatmalarının görünmesini sağlar */
    position: relative;
}

#map {
    width: 100%; /* Tam genişlik */
    height: 100%; /* Tam yükseklik */
    border-radius: 15px; /* Köşe yuvarlatmaları */
}

#info-box {
    width: 200px; /* Genişlik ayarı */
    position: absolute;
    bottom: 24px;
    left: 24px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1;
    opacity: 0.9;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 14px; /* Yazı boyutu */
}

#info-table th, #info-table td {
    text-align: center;
    vertical-align: middle;
}

.color-box {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.green {
    background-color: #00FF00;
}

.blue {
    background-color: #00FFFF;
}

.green2 {
    background-color: #006400;
}

.brown {
    background-color: #DEB887;
}

.orange {
    background-color: #FF8C00;
}

.red {
    background-color: red;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Küçük ekranlarda dikey düzen */
        align-items: center;
    }

    .map-container, #info-box {
        width: 100%; /* Yatay düzen için genişlik ayarı */
        height: 300px; /* Küçük ekranlarda yüksekliği azalt */
    }
}

.deprem-tag {
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: small;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.5s;
}

.deprem-tag:hover {
    z-index: 999;
    opacity: 1;
    transform: scale(1.1);
}

#ac {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 2;
}
