body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Min-height değerini 100px yerine 100vh olarak ayarladık */
}

.resim {
    border-radius: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.table-wrapper {
    display: block; /* Inline-block yerine block */
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Mobil cihazlarda pürüzsüz kaydırma için */
}

.table {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(204, 68, 68, 0.15);
    margin-bottom: 20px;
    width: 100%;
}

.table th, .table td {
    text-align: center;
    padding: 8px; /* Daha iyi görünürlük için padding */
}

.table th {
    background-color: #1e00ff;
    color: #fff;
}

.table-info th {
    background-color: #d2d1f1;
    color: #0c5460;
    font-size: 0.9em;
}

.button {
    background-color: rgb(255, 72, 0);
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 4px 8px;
}

/* Mobil uyumlu tasarım için medya sorguları */

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 0.875rem; /* Daha küçük font boyutu */
        padding: 4px; /* Daha küçük padding */
    }

    .table-wrapper {
        padding: 0 10px; /* Mobil uyumlu padding */
    }

    .resim {
        width: 200px; /* Daha küçük logo boyutu */
    }

    .navbar {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .table th, .table td {
        font-size: 0.75rem; /* Daha küçük font boyutu */
    }
}
